In [3]:
import pandas as pd

In [175]:
# pass file one by one
source = 'air_conditioners'
df = pd.read_csv(f'../../data/raw/{source}.csv')

In [176]:
df.shape

(198, 9)

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   web-scraper-order      198 non-null    object
 1   web-scraper-start-url  198 non-null    object
 2   article_link           198 non-null    object
 3   article_link-href      198 non-null    object
 4   details                198 non-null    object
 5   etat                   197 non-null    object
 6   adresse                198 non-null    object
 7   prix                   187 non-null    object
 8   image_lien-src         198 non-null    object
dtypes: object(9)
memory usage: 14.1+ KB

In [178]:
df.head()

,web-scraper-order,web-scraper-start-url,article_link,article_link-href,details,etat,adresse,prix,image_lien-src
0,1717211664-1,https://www.expat-dakar.com/climatisation?page=20,SPLIT ELACTRON 2.5CV INVERTER 18000BTU\nNeuf\n...,https://www.expat-dakar.com/annonce/split-elac...,SPLIT ELACTRON 2.5CV INVERTER 18000BTU,Neuf,Plateau\n\nDakar,269 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
1,1717211666-2,https://www.expat-dakar.com/climatisation?page=20,SPLIT ELACTRON 2.5CV 18000BTU R1410\nNeuf\nPla...,https://www.expat-dakar.com/annonce/split-elac...,SPLIT ELACTRON 2.5CV 18000BTU R1410,Neuf,Plateau\n\nDakar,229 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,1717211669-3,https://www.expat-dakar.com/climatisation?page=20,SPLIT ELACTRON 1.25CV INVERTER 9000BTU\nNeuf\n...,https://www.expat-dakar.com/annonce/split-elac...,SPLIT ELACTRON 1.25CV INVERTER 9000BTU,Neuf,Plateau\n\nDakar,179 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,1717211671-4,https://www.expat-dakar.com/climatisation?page=20,SPLIT ELACTRON 1.25CV 9000BTU R410\nNeuf\nPlat...,https://www.expat-dakar.com/annonce/split-elac...,SPLIT ELACTRON 1.25CV 9000BTU R410,Neuf,Plateau\n\nDakar,149 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,1717211674-5,https://www.expat-dakar.com/climatisation?page=20,Climatiseur armoire 24000btu ROCH\nNeuf\nPlate...,https://www.expat-dakar.com/annonce/climatiseu...,Climatiseur armoire 24000btu ROCH,Neuf,Plateau\n\nDakar,545 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

In [179]:
# Droping some usless columns
df.drop(columns=['web-scraper-order', 'web-scraper-start-url', 'article_link', 'article_link-href'], inplace=True)
df.rename(columns={'image_lien-src': 'image_lien'}, inplace=True)

In [180]:
df.head()

,details,etat,adresse,prix,image_lien
0,SPLIT ELACTRON 2.5CV INVERTER 18000BTU,Neuf,Plateau\n\nDakar,269 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
1,SPLIT ELACTRON 2.5CV 18000BTU R1410,Neuf,Plateau\n\nDakar,229 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,SPLIT ELACTRON 1.25CV INVERTER 9000BTU,Neuf,Plateau\n\nDakar,179 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,SPLIT ELACTRON 1.25CV 9000BTU R410,Neuf,Plateau\n\nDakar,149 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,Climatiseur armoire 24000btu ROCH,Neuf,Plateau\n\nDakar,545 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

In [181]:
df.shape

(198, 5)

In [182]:
# Clean 'adresse' column
df['adresse'] = df['adresse'].str.replace(r'\n+', ' ', regex=True).str.strip()
df['prix'] = df['prix'].str.replace('\u202f','').str.replace('F Cfa', '').str.strip()

In [183]:
df.head()

,details,etat,adresse,prix,image_lien
0,SPLIT ELACTRON 2.5CV INVERTER 18000BTU,Neuf,Plateau Dakar,269000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
1,SPLIT ELACTRON 2.5CV 18000BTU R1410,Neuf,Plateau Dakar,229000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,SPLIT ELACTRON 1.25CV INVERTER 9000BTU,Neuf,Plateau Dakar,179000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,SPLIT ELACTRON 1.25CV 9000BTU R410,Neuf,Plateau Dakar,149000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,Climatiseur armoire 24000btu ROCH,Neuf,Plateau Dakar,545000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

In [184]:
df.duplicated().sum()

0

In [185]:
df.drop_duplicates(inplace=True)

In [186]:
df.duplicated().sum()

0

In [187]:
df.isna().sum()

details        0
etat           1
adresse        0
prix          11
image_lien     0
dtype: int64

In [188]:
df.dropna(inplace=True)

In [189]:
df.isna().sum()

details       0
etat          0
adresse       0
prix          0
image_lien    0
dtype: int64

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186 entries, 0 to 197
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   details     186 non-null    object
 1   etat        186 non-null    object
 2   adresse     186 non-null    object
 3   prix        186 non-null    object
 4   image_lien  186 non-null    object
dtypes: object(5)
memory usage: 8.7+ KB

In [191]:
df['prix'] = df['prix'].astype(int)

In [192]:
df.shape

(186, 5)

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186 entries, 0 to 197
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   details     186 non-null    object
 1   etat        186 non-null    object
 2   adresse     186 non-null    object
 3   prix        186 non-null    int64
 4   image_lien  186 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.7+ KB

In [194]:
df.to_csv(f'../../data/cleaned/{source}.csv', index=False)